<html>
	<head>
		<title>
			Toko Buku Al Hikam
		</title>
		<link href="src/css/layout.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="header-logo">
				</div>
				
				<div id="header-cari">
				</div>
			<!-- <p>
			<img
				src="src/gambar/baru.jpg" 
				alt="Toko Buku Al Hikam" 
				title="Toko Buku Al Hikam"
				width ="100" height="100"
				align="middle"
			/>
			Toko Buku Al Hikam
			</p> -->
			</div>
			
			<ul class="menu">
				<li class="blok"> <a class="isi-menu"> Home </a> </li>
				<li class="blok"> <a class="isi-menu"> Buku Terbaru </a> </li>
				<li class="blok"> <a class="isi-menu active"> Buku Terlaris</a> </li>
				<li class="blok"> <a class="isi-menu"> Buku Promo</a> </li>
				<li class="blok"> <a class="isi-menu"> Buku Pre Order</a> </li>
			</ul>
			
				<!--<ul>
				  <li><a class="active" href="#home">Home</a></li>
				  <li><a href="#news">News</a></li>
				  <li><a href="#contact">Contact</a></li>
				  <li><a href="#about">About</a></li>
				</ul> -->
			
			<div id="content">
				<h2>
					Buku Terbaru
				</h2>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<div id="artikel">
				</div>
				
				<h3>
					Selengkapnya
				</h3>
			</div>
			
			
			<div id="footer">
				<div id="footer-isi">
				</div>
				
				<div id="footer-isi">
				</div>
				
				<div id="footer-isi-kanan">
				</div>
			</div>
		</div>
	</body>
</html>