#wrapper{
	width:1028px;
	margin: 0 auto;
}

#header{
	width:100%;
	height:60px;
	background:green;
	
}

#header-logo{
	width:30%;
	height:60px;
	background: silver;
	float: left;
	margin-right: 50px;
}

#header-cari{
	width: 60%;
	height: 50px;
	background: red;
	float: left;
	margin-top: 5px;
}

.menu{ 
	list-style-type: none;
	padding:0;
	background:teal;
	margin:0px;
	overflow:hidden;
}

.blok{
	float: left;
}

.isi-menu{
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: green;
}

.active {
  background-color: red;
}


#content{
	padding: 10px;
	background: green;
	margin-bottom: 10px;
	overflow: hidden;
}

#artikel{
	width: 19%;
	height: 250px;
	float: left;
	background: red;
	margin: 5px 5px;
}

.kategori{
	width: 100%;
	height: 30px;
	background: silver;
	font-size: 25px;
	font-weight: bold;
}

.selengkap{
	width: 100%;
	height: 20px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}

#footer{
	background:green;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
}

#footer-isi{
	width: 30%;
	height: 250px;
	background: silver;
	float: left;
	margin: 10px 10px;
}

#footer-isi-kanan{
	width: 33%;
	height: 250px;
	background: silver;
	float: right;
	margin: 10px 10px;
}